body{
    background-color:#18425a;
    color:white;
  }
.content{
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform :translate(-50%,-50%);
}
h1{
    /*color:#34495e;*/
    transition: color 0.5s ease-in-out;
    font-size : 50px;
  
  }


.title2{
  cursor: pointer;
}

.clicked{
  color:#7f8c8d;
}
.form,
.greetings{
  display:none;
}

.showing{
  display:block;
}
  
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:-1;
  animation : fadeIn 0.5s linear;
}

.js-toDoList{
  list-style:none;
  padding-left:0px;
}

li{
  margin:5px;
}

li>span{
  margin-right:5px;
}